<!--
<h1>Two Data Binding </h1><br>
<br>
fname:<input type="text"[(ngModel)]="fname"/>
<br>
<b>welcome{{fname}}</b>-->
<h1 [ngClass]="myclass"> Struct and attribute Directives</h1>
<br>
<button (click)="changeFlag()">Show or hide Div</button>
<div *ngIf="flag" [ngStyle]="myStyle">
  <br>
  <ul>
    <li *ngFor="let str of vehicles"(click)="SetSelectedItem(str)">{{str}}</li>
  </ul>
  <br>
  <b>You have selected : {{Selectedvehicle}}</b>
<br>
<div [ngSwitch] = "Selectedvehicle">
  <font color="green" *ngSwitchCase="'Twowheeler'">Bike</font>
  <font color="brown" *ngSwitchCase="'Threewheeler'">Car</font>
  <font color="darkblue"  *ngSwitchCase="'Fourwheeler'">Auto</font>
  <font color="red" *ngSwitchDefault>Invalid</font></div>
<button (click)="change()">change</button>

</div>
<br>
