<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    </head>

    <body>
        <h1>File Management System</h1>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                             <form #myForm="ngForm">
                                <div class="form-group">
                                    <label for="FileName">
                                        FileName
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="fileName" 
                                           #fileName="ngModel" ngModel
                                    
                                            />
                                </div>
                                <div *ngIf="fileName.touched">
                                  <div *ngIf = "fileName.errors ?.['required']">
                                    <b style ="color: red;"></b>
                                  </div>
                                  <div *ngIf = "fileName.errors ?.['pattern']">
                                    <b style ="color: red;"></b>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label for="FileType">
                                       FileType
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="FileType" 
                                           #fileType="ngModel" ngModel
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="FileSize">
                                      FileSize
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="FileSize" 
                                           #fileSize="ngModel" ngModel
                                           />
                                </div>
                                                              
                                <button class="btn btn-success" (click)="insertFile(myForm.value)">
                                    Insert 
                                </button>
                            &nbsp;&nbsp;
                                <button class="btn btn-primary" (click)="updateFile(myForm.value)" >
                                    Update 
                                </button>&nbsp;&nbsp;
                                <button class="btn btn-danger" (click)="deleteFile(myForm.value)">
                                    Delete 
                                </button>&nbsp;&nbsp;
                                <button class="btn btn-warning" (click)="findFile(myForm.value)" >
                                    Find 
                                </button>
                                &nbsp;&nbsp;
                                <button class="btn btn-info" (click)="findAllFile()">
                                    Find All
                                </button>
                            </form>
                            
                        </div>
                    </div>
                </div>
         <br>
    
    <div style="width: 100%;" *ngIf="flag">
        <table width="80%" align="center" class="table table-borderd">
         <tr><th>FileName</th><th>FileType</th><th>FileSize</th></tr> 
          <tr *ngFor="let emp of employeeArr">
              
          </tr>
       </table>
       </div>      
 </body>
</html>



