<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    </head>

    <body>
        <h1>Employee Management System</h1>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                             <form #myForm="ngForm">
                                <div class="form-group">
                                    <label for="Employee Id">
                                        Employee Id
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="empId" 
                                           #empId="ngModel" ngModel
                                           required
                                           pattern="[0-9]+"
                                            />
                                </div>
                                <div *ngIf="empId.touched">
                                </div>
                                  <div *ngIf="empId.errors?.['required']">
                                  <b style="color: red;">Employee Id Required.</b>
                                  </div>
                                  <div *ngIf="empId.errors?. ['pattern']">
                                  <font color="red"><b>Invalid Employee Id.</b></font>
                                  </div>
                                <div class="form-group">
                                    <label for="Employee Name">
                                        Employee Name
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="empName" 
                                           #empName="ngModel" ngModel
                                           required
                                           pattern="[a-z]+"
                                            />
                                </div>
                                <div *ngIf="empName.touched">
                                </div>
                                  <div *ngIf="empName.errors?.['required']">
                                  <b style="color: red;">Employee Name Required.</b>
                                  </div>
                                  <div *ngIf="empName.errors?. ['pattern']">
                                  <font color="red"><b>Invalid Employee Name.</b></font>
                                  </div>
                                <div class="form-group">
                                    <label for="Employee Salary">
                                        Employee Salary
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="empSalary" 
                                           #empSalary="ngModel" ngModel
                                           required
                                           pattern="[0-9]+"
                                           />
                                </div>
                                <div *ngIf="empSalary.touched">
                                </div>
                                  <div *ngIf="empSalary.errors?.['required']">
                                  <b style="color: red;">Employee Salary Required.</b>
                                  </div>
                                  <div *ngIf="empSalary.errors?. ['pattern']">
                                  <font color="red"><b>Invalid Employee Salary.</b></font>
                                  </div><br>
                                                              
                                <button class="btn btn-success"(click)="insertEmployee(myForm.value)">
                                    Insert 
                                </button>
                            &nbsp;&nbsp;
                                <button class="btn btn-primary"  >
                                    Update 
                                </button>&nbsp;&nbsp;
                                <button class="btn btn-danger" >
                                    Delete 
                                </button>&nbsp;&nbsp;
                                <button class="btn btn-warning" >
                                    Find 
                                </button>
                                &nbsp;&nbsp;
                                <button class="btn btn-info" >
                                    Find All
                                </button>
                            </form>
                            
                        </div>
                    </div>
                </div>
                <br>
                <h3>{{result}}</h3>
    </body>
</html>

